$bodyfont: "Roboto Mono", sans-serif;
$titlefont: "Mohave", serif;
$monofont: Inconsolata, monospace;

@font-face {
  font-family: "Title";
  font-weight: 400;
  src: url("../fonts/Mohave-Regular.woff2") format("woff2");
}

body {
	background-color: #FFFCFC;
	font-size: 1rem;
	line-height: 130%;
	padding-bottom: 2rem;
	font-family: "Title";
}

div {
	&-menu {
		title {
			font-family: "Title", monospace;
		}
	}
}
/* 3-column Layout */

#div-right, #div-left {
	float: left;
	width: 20%;
	background-color: blue;
	padding: 10px;
}

#div-center {
	float: left;
	width: 60%;
}

/* Clear floats after the columns */

#div-body:after {
      clear: both;
}


// 1. Change all 'id' to 'class' and tags(?) in divs and stuff.
// 2. Figma a quick design so I know what I'm trying to create
// 3. Start separating it into bits
// 4. Finally start filling in this doc
