{{- define "main" }}
<div class="div-content">

	<div class="header">
		<h1>{{ .Title | upper }}</h1>

		<div class="tags">
			<!-- Industry and Platform -->
			{{ with .Params.client.industries }}
				<p class="tags"><strong>industr{{ if gt (len .) 1 }}ies{{ else }}y{{ end }}:</strong>
				{{ range $index, $industry := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/industries/" | relURL }}{{ . | urlize }}">{{ . | lower }}</a>{{ end }}</p>
			{{ end }}
			{{ with .Params.client.media }}
				<p class="tags"><strong>medi{{ if gt (len .) 1 }}a{{ else }}um{{ end }}:</strong>
				{{ range $index, $media := . }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/medium/" | relURL }}{{ . | urlize }}">{{ . | lower }}</a>{{ end }}</p>
			{{ end }}
		</div>

	</div>

	<!-- Header Image -->
 	{{- $img := ( printf "%s.png" ( lower .Title ) ) -}}
    {{- $original := .Resources.GetMatch $img -}}
    {{ with .Resources.GetMatch $img }}
        <div class="header image">
			{{ $imageheader := (.Fill "600x200 webp center") }}
            <img src="{{ $imageheader.Permalink | absURL }}">
         </div>
    {{ end }}


	<!-- Numbers -->
	{{ with .Params.results }}
		<div class="results">
			{{ range $k, $v := . }}
			{{ if gt $v 0 }}
			<div class="instance">
				<div class="number">
					{{ if in $k " rate" }}{{ lang.NumFmt 2 $v }}%{{ else }}
					{{ if eq $k "generated" }}${{end}}{{ lang.NumFmt 0 $v }}{{ end }}
				</div>
				<div class="text">
					{{ $k }}
				</div>
			</div>
			{{ end }}
			{{ end }}
		</div>
	{{ end }}

	<!-- Testimonial -->
	{{ with ( index .Params.testimonial 0 "name" ) }}
		<div class="quote">
		{{ range $.Params.testimonial }}
			<div class="text">
				<p><strong class="quote">“</strong>{{.quote}}</p>
			</div>
			<div class="author">
				{{ with .link }}<a href="https://{{ . }}">{{ end }}{{ .name | lower }}</a>, {{ .position | lower }} @ {{ .company | lower }}
			</div>
		{{ end }}
		</div>
	{{ end }}

	<!-- Highlights -->
	{{ .Content }}
	{{ with .Params.highlights.brief }}
		<h2>brief</h2>
		<p>{{ . }}</p>
	{{ end }}

	<!-- Solutions -->
	{{ with .Params.highlights.solution }}
		<h2>solutions</h2>
		<p>{{ . }}</p>
	{{ end }}

	<!-- Results -->
	{{ with .Params.highlights.results }}
		<h2>results</h2>
		<p>{{ . }}</p>
	{{ end }}

	<!-- Media Mentions -->
	{{ with ( index .Params.featured 0 "media" ) }}
		<div class="quote">
			{{ range $.Params.featured }}
			<div class="text">
				<p><strong class="quote">“</strong>{{.quote}}</p>
				{{/* <p>{{ with .quote }}{{ . }}{{ end }}</p> */}}
			</div>
			<div class="author">
				{{/* {{ with .link }}<a href="{{ . }}">{{ end }}{{ .media }}</a> */}}
				{{ .media }}
			</div>
			{{/* <a href="{{ "/media/" | relLangURL }}{{ .media | urlize }}">See more coverage by {{ .media }}</a> */}}
			{{ end }}
		</div>
	{{ end }}

	<!-- Images -->
    	{{- $images := .Page.Resources.ByType "image" -}}
	{{ $headername := printf "%s%s" ( lower .Title ) ".png" }}
    	{{ range where $images "Name" "not in" $headername }}
        <div class="image">
			{{ $tiny := (.Resize "300x webp") }}
			{{ $small := (.Resize "400x webp") }}
			{{ $medium := (.Resize "600x webp") }}
			{{ $large := (.Resize "800x webp") }}
			{{ $xlarge := (.Resize "1000x webp") }}

			<a href="{{ .Permalink | absURL }}">
				<img src="{{ $tiny.Permalink | absURL }}"
					srcset="{{ $tiny.Permalink | absURL }} 300w,
						{{ $small.Permalink | absURL }} 400w,
						{{ $medium.Permalink | absURL }} 600w,
						{{ $large.Permalink | absURL }} 800w,
						{{ $xlarge.Permalink | absURL }} 1000w"
					sizes="(min-width: 640px) 40vw,
					       (min-width: 768px) 40vw,
					       (min-width: 1024px) 40vw,
					       (min-width: 1366px) 40vw,
					       (min-width: 1600px) 40vw,
					       (min-width: 1920px) 40vw"

					alt="Image about {{ $.Params.Title }} Copywriting by Danniel Roumian Booker">
			</a>

			<!-- Standard display sizes: 1920, 1600, 1366 (common), 1024, 768, 640 -->
			<!-- As this box will never be more than 1000px (100 rem x 10px), the largest needed is 1000 -->

        </div>
	{{ end }}


	<!-- Services -->
	{{ with .Params.highlights.services }}
		<h2>Services</h2>
		<ul id="tags">
			{{ range $.Params.highlights.services }}
			<li><a href="{{ "/services/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
			{{ end }}
		</ul>
	{{ end }}

	<!-- Team -->
	{{ with or .Params.team.agency .Params.team.people }}
		<h2>Team</h2>
		<ul>
			{{ with $.Params.team.agency }}
				<li>Agency: {{ with $.Params.agency.link }}<a href="{{ . }}">{{ end }}{{ . }}</a></li>
			{{ end }}
			{{ with ( index $.Params.team.people 0 "name" ) }}
				{{ range $.Params.team.people }}
					<li>{{.position}}: {{ with .link }}<a href="{{ . }}">{{ end }}{{.name}}</a></li>
				{{ end }}
			{{ end }}
		</ul>
	{{ end }}

	<!-- Client -->
	{{ with .Params.client.name }}
		<h2>Partner: {{ with $.Params.client.link }}<a href="{{ . }}">{{ end }}{{ . }}</a></h2>
		{{ with $.Params.client.about }}
			<p>{{ . }}</p>
		{{ end }}
	{{ end }}
	<!-- {{ .Content }} -->
</div>
{{ end }}
