// Portfolio Page as example

.div-content {
	font-size: 2rem;

	// Title & tags
	.header {
		padding-bottom: 1em;

		h1 {
			font-family: $headfont;
			font-size: 2em;
			color: $color-2;
			margin: 0;
		}

		.tags {
			font-family: $headfont;
			font-size: 0.9em;
			margin: 0;
			color: $color-4;

			a {
				color: $color-4;
			}
		}
	}

	// Result numbers
	.results {
		display: flex;
		text-align: center;
		justify-content:center;
  		//width: 600px;
  		//margin: 0 auto;
		.instance {
			margin: 4em;

			.number {
				border-bottom: 0.2em solid $color-3;
  				display: inline-block;
  				line-height: 0.85;
				font-family: $dispfont;
				color: $color-2;
				font-size: 2em;
			}
			.text {
				font-family: $headfont;
			}
		}
	}

	p {
		font-family: $bodyfont;
	}

}
