/* 3-column Layout */
.div-body {
	* {
		box-sizing: border-box;
	}
	.column {
		float: left;
		padding: 10px;

		&.div-left {
			//background-color: red;
			width: 20%;

			@media screen and (min-width: 1000px) {
				min-width: 350px;
			}

			@media screen and (max-width: 400px) {
				display: none;
			}

		}

		&.div-right {
			background-color: pink;
			width: 20%;

			@media screen and (max-width: 135rem) {
				display: none;
			}

		}
		&.div-center {
			//background-color: blue;
			width: 60%;
			max-width: 1000px;
			//max-width: 680px;
		}
	}
/* Clear floats after the columns */
	&:after {
		content: "";
	  	display: table;
	  	clear: both;
	}
}
