/* 3-column Layout */

.div-body {

	* {
		box-sizing: border-box;
	}

	.column {
		float: left;
		padding: 10px;

		&.div-left {
			background-color: red;
			width: 20%;
		}

		&.div-right {
			background-color: pink;
			width: 20%;
		}

		&.div-center {
			background-color: blue;
			width: 60%;
		}
	}

/* Clear floats after the columns */
	&:after {
		content: "";
	  	display: table;
	  	clear: both;
	}
}
