* {
  box-sizing: border-box;
}


#div-right, #div-left {
	float: left;
	width: 20%;
	background-color: red;
	padding: 10px;
}

#div-center {
	float: left;
	width: 60%;
}

/* Clear floats after the columns */
#div-body:after {
      clear: both;
}

body {
	background-color: #f7f3ef;
	font-size: 1.5rem;
	line-height: 130%;
	padding-bottom: 1.5rem;
}

/* Navbar */

#div-head {

}
> nav a.menu-active {
    color: coral;
    border-bottom: 2px solid coral;
}

> nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    max-width: 1280px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0
}

nav a {
    padding: 1em 1em;
    display: inline-block;
    color: gray;
    font-family: sans-serif;
    text-decoration: none
}

nav a:hover {
    color: lightcoral;
}
