* {
  box-sizing: border-box;
}


body {
	background-color: #f7f3ef;
	font-size: 1.5rem;
	line-height: 130%;
	padding-bottom: 1.5rem;
}

/* 3-column Layout */

#div-right, #div-left {
	float: left;
	width: 20%;
	background-color: red;
	padding: 10px;
}

#div-center {
	float: left;
	width: 60%;
}

/* Clear floats after the columns */

#div-body:after {
      clear: both;
}

/* Navbar */

> #navbar a.menu-active {
    color: coral;
    border-bottom: 2px solid coral;
}

> #navbar {
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 0 1em; */
    /* max-width: 1280px; */
    /* margin: 0 auto; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height)
}

#navbar ul {
    display: flex;
    list-style-type: none;
    margin: auto var(--gap)
}

#navbar a {
    /* padding: 1em 1em; */
    display: block;
    color: gray;
    font-family: sans-serif;
    text-decoration: none
}

#navbar a:hover {
    color: lightcoral;
}
