* {
  box-sizing: border-box;
}


#div-right, #div-left {
	float: left;
	width: 20%;
	background-color: red;
	padding: 10px;
}

#div-center {
	float: left;
	width: 60%;
}

/* Clear floats after the columns */
#div-body:after {
      clear: both;
}

body {
	background-color: #f7f3ef;
	font-size: 1.5rem;
	line-height: 130%;
	padding-bottom: 1.5rem;
}
