html {
	font-size: 62.5%;
	color: $color-1;

	body {
    font-size: 1.6rem;
		margin: 0;
		background-color: $color-bg;
	}
}

// Fix these so that the page doesn't freak out as it resizes

@media (max-width: 900px) {
  // html { font-size: 15px; }
}
