// $bodyfont: "Roboto Mono", sans-serif;
// $titlefont: "Mohave", serif;

$monofont: 'inconsolata', monospace;
$headfont: 'mohave';
$bodyfont: 'amiko';
$dispfont: 'kavoon';

/* mohave-regular - latin */
@font-face {
  font-family: 'mohave';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/mohave-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/mohave-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/mohave-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/mohave-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/mohave-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/mohave-v2-latin-regular.svg#Mohave') format('svg'); /* Legacy iOS */
}

/* amiko-regular - latin */
@font-face {
  font-family: 'amiko';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amiko-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/amiko-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amiko-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amiko-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amiko-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amiko-v5-latin-regular.svg#Amiko') format('svg'); /* Legacy iOS */
}

/* inconsolata-regular - latin */
@font-face {
  font-family: 'inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       //local('Liberation Mono'),
       url('../fonts/inconsolata-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v21-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

/* fruktur-regular - latin */
@font-face {
  font-family: 'fruktur';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fruktur-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fruktur-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fruktur-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fruktur-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fruktur-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fruktur-v15-latin-regular.svg#Fruktur') format('svg'); /* Legacy iOS */
}

/* kavoon-regular - latin */
@font-face {
  font-family: 'kavoon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kavoon-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/kavoon-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kavoon-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kavoon-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/kavoon-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kavoon-v11-latin-regular.svg#Kavoon') format('svg'); /* Legacy iOS */
}
