.div-content {
	font-size: 2rem;
}

h1 {
	font-family: $headfont;
	font-size: 2em;
	color: $color-2;
	margin: 0;
}

h2 {
	font-family: $headfont;
	color: $color-2;
	font-size: 1.25em;
	font-weight: normal;
	border-bottom: 0.1em solid $color-3;
	padding-bottom: 0.3em;
	//width: 25%;
}

p {
    margin: 0;
    padding: 0;
	font-family: $bodyfont;

    &.number {
	    border-bottom: 0.2em solid $color-3;
	    display: inline-block;
	    line-height: 0.85;
	    font-family: $dispfont;
	    color: $color-2;
	    font-size: 2em;
    }

    &.head {
	    font-family: $headfont;
    }

	&.tags {
		font-family: $headfont;
		font-size: 0.9em;
		margin: 0;
		color: $color-4;

		a {
			color: $color-4;
		}
	}

	&.author {
		font-family: $headfont;
		// color: $color-2 !important;
		text-align: right;

		&:before {
			content: "— ";
		}
	}
}

a {
	color: $color-4;
	text-decoration: underline $color-3;

	&:hover {
		color: $color-2 !important;
		background-color: $color-3 !important;
	}
}

blockquote {
  text-indent: -2em;
  font-family: $monofont;
  quotes: "“" "" "“" "";

  &:before {
    content: open-quote;
    font-family: $monofont;
    font-size: 4em;
    font-weight: bold;
    color: $color-2;
    opacity: 30%;
    line-height: 0em;
    vertical-align: -0.39em;
    display: inline;
  }
  &:after{
      content: close-quote;
  }
}

@supports ( hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
