html {
	font-size: 62.5%;
	color: $color-1;

	body {
		margin: 0;
		background-color: $color-bg;

		a {
			color: $color-4;
			text-decoration: underline $color-3;

			&:hover {
				color: $color-2 !important;
				background-color: $color-3 !important;
			}
		}
	}
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}

