<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
    <head>
    	{{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "navigation.html" . -}}
	<div id="div-body">
		<div id="div-left">
                {{- partial "toc.html" . -}}
		</div>
		<div id="div-center">
		        {{- block "main" . }}{{- end }}
		        {{- partial "center-footer.html" . -}}
		</div>
		<div id="div-right">
		</div>
	</div>
    </body>
</html>
