<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
    <head>
    	{{- partial "head.html" . -}}
    </head>
    <body>
	<div class="div-body">
        <main class="column article">
		<!-- <article class="article"> -->
		        {{- block "main" . }}{{- end }}
		        {{- partial "center-footer.html" . -}}
		<!-- </article> -->
        </main>
		<header class="column header">
        		{{- partial "navigation.html" . -}}
		</header>
		<div class="column div-right">
		</div>
	</div>
    </body>
</html>
