<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
    <head>
    	{{- partial "head.html" . -}}
        {{- block "schema" . }}{{- end }}
	{{- block "css" . }}{{- end }}
    </head>
    <body>
	<div class="div-body">
        <main class="column article">
		        {{- block "main" . }}{{- end }}
		        {{- partial "center-footer.html" . -}}
        </main>
		<header class="column header">
        		{{- partial "navigation.html" . -}}
		</header>
		<div class="column div-right">
		</div>
	</div>
    </body>
</html>
