// Portfolio Page as example

.div-content {

	img {
		// .header {
		width: 100%;
	}

// Title & tags
	.header {
		margin-bottom: 1em;
	}

// Results block
	.results {
		@include flex;
		flex-wrap: wrap;
		justify-content: center;

		.instance {
			margin: 0 3rem 0 3rem;
		}
	}

// Testimonial & Quote blocks
	.quote-block {
		margin: auto;
		width: 90%;
		max-width: 30em;
		.quote-single {
			.text {
				margin-bottom: -0.5em;
				// display: inline;
			}
		}
	}

}
