// Portfolio Page as example

.div-content {

	img {
		// .header {
		width: 100%;
	}

	// .gallery {
	// 	display: flex;
	// 	img {
	// 		// .header {
	// 		width: 100%;
	// 	}
	// }

// Title & tags
	.header {
		margin-bottom: 1em;
	}

// Results block
	.results {
		display: flex;
		text-align: center;
		justify-content: center;
  		//width: 600px;
  		//margin: 0 auto;
		.instance {
			margin: 4em;
		}
	}

// Testimonial & Quote blocks
	.quote-block {
		margin: auto;
		width: 90%;
		max-width: 30em;
		.quote-single {
			.text {
				margin-bottom: -0.5em;
				// display: inline;
			}
		}
	}

}
