// Portfolio Page as example

.div-content {

	.wide {
		width: 100%;
	}

	.narrow {
		max-width: 65rem;
		margin: auto;
	}

	img {
		// .header {
		width: 100%;
	}

// Title & tags
	.header {
		margin: 0 0 5rem 0;

		>.tags {
			margin: 0 0 2rem 0;
		}
	}


// Results block
	.results {
		@include flex;
		flex-wrap: wrap;
		justify-content: center;

		.instance {
			margin: 0 3rem 0 3rem;
		}
	}

// Testimonial & Quote blocks
	.quote-block {
		margin: auto;
		width: 90%;
		max-width: 35em;
		.quote-single {
			.text {
				margin-bottom: -0.5em;
				// display: inline;
			}
		}
	}

}
