/* 3-column Responsive Layout */
.div-body {
		margin: auto;
		max-width: 1000px;

		// @include mq(large) {
		// 	margin-left: 0;
		// }
		// @include mq(xlarge) {
		// 	margin-left: calc( (100% - 1000px) / 2 - 350px );
		// }

	* {
		@include box-sizing(border-box);
	}

	.column {
		padding: 10px;
		float: left;

		@include mq(med) {
			float: right;
		}

		&.div-left {
			float: left;
			position: fixed;
			@include flex;
			background: $color-bg;
			border-bottom: 2px solid $color-2;
			width: 100%;
			margin: 0;

			@include mq(med) {
				// display: inline;
				display: inline;
				background: none;
				border-bottom: none;
				width: 350px;
				// position: fixed;
			}
		}

		&.div-right {
			display: none;
		}

		&.div-center {
			width: 100%;
			max-width: 650px;
			margin-top: 7rem;

			@include mq(xsmall) {
			}

			@include mq(med) {
				margin-top: 0px;
				width: calc(100% - 350px);
			}
		}
	}

	// Clear flex columns
	@extend %clearfix
}
