/* 3-column Responsive Layout */
.div-body {
		margin: auto;
		max-width: 130rem;
		@include flex;

		align-items: flex-start;
		flex-flow: column;

		@include mq(med) {
			flex-flow: row;
		}

		// @include mq(xlarge) {
		// 	margin-left: calc( (100% - 1000px) / 2 - 350px );
		// }

	* {
		@include box-sizing(border-box);
	}

	.column {
		padding: 1rem;
		width: 100%;

		@include mq(med) {
			padding: 4rem 2rem 0 2rem;
			margin-top: 0;
			width: calc(100% - 33rem);
		}

		&.header {
			@include flex;
			background: $color-bg;
			border-bottom: 2px solid $color-2;
			width: 100%;
			margin: 0;

			order: -1;
			position: sticky;
			top: 0;

			@include mq(med) {
				background: none;
				border-bottom: none;
				width: 33rem;
				flex-flow: column;
				text-align: right;
			}
		}

		&.div-right {
			display: none;
		}

	}

	// Clear flex columns
	@extend %clearfix
}
