.sitetitle {
	font-family: $monofont;
	font-size: 2.5rem;

	a {
		text-decoration: none;
	}

	.subtitle {
		font-size: 1.7rem;
		color: $color-4;
		margin-block-start: 0.5em;
	}
}

.main-menu {
	font-family: $headfont;
	font-size: 1.7em;
}

.div-menu {
	margin-left: 3em;
	border-left: 2px solid $color-3;

	a {
		text-decoration: none;
	}

	ul, li {
		list-style-type: none;
		margin-left: 0.5em;
		padding: 0;
	}
}
