div.sitetitle {
	margin: auto 0 auto 0;
}

nav.navbar {
	// margin-left: 3em;
	margin: auto 0 auto auto;
	border-left: 2px solid $color-3;
	padding-left: 1em;

	@include mq(med) {
		margin: auto 0 auto 3em;
	}

	div.hamburger-container {
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

		@include mq(small) {
			display: none;
		}

	}

	svg.hamburger {
		fill: $color-4;

		&:hover {
			fill: $color-2
		}
	}

	ul {

		&.main-menu {
			font-family: $headfont;
			font-size: 1.7em;


			display: block;
			position: fixed;
			top: 0;
			left: -100%;
			width: 300px;
			height: 100%;
			margin: 0;
			padding: 80px 0;
			list-style: none;
			background-color: #ECEFF1;
			box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
			transition-duration: .25s;

			// display: none;

			// @include mq(small) {
			// 	display: inline;
			// }
			// margin: auto 0 auto 0;
			// display: inline;
			// margin-top: auto;

			@include mq(small) {
				display: revert;
				position: relative;
				top: auto;
				left: auto;
				width: auto;
				height: auto;
				margin: auto 0 auto 0;
				padding: 0;
				list-style: auto;
				background-color: $color-bg;
				box-shadow: none;
				// transition-duration: .25s;
			}

			@include mq(med) {
				margin: revert;
				// border-left: 2px solid $color-3;
				// display: block;
			}
			a {
				text-decoration: none;


			}
			&:before {
				display: none;
			}

			li {
				display: block;
				padding: 12px 24px;
				text-decoration: none;
				transition-duration: .25s;
				// font-size: 20px;
				// font-weight: 600;
				// color: #333;
				// font-family: 'Roboto', sans-serif;

				// display: none;

				@include mq(small) {
					list-style-type: none;
					padding: 0;
					margin-left: 0.5em;
					display: inline;
				}

				@include mq(med) {
					display: block;
				}
				&:before {
					content: "";
				}
			}
		}
	}
}

#main-menu-mobile__toggle {
  opacity: 0;
}
// #menu__toggle:checked + .menu__btn > span {
//   transform: rotate(45deg);
// }
// #menu__toggle:checked + .menu__btn > span::before {
//   top: 0;
//   transform: rotate(0deg);
// }
// #menu__toggle:checked + .menu__btn > span::after {
//   top: 0;
//   transform: rotate(90deg);
// }
#main-menu-mobile__toggle:checked ~ .main-menu {
  left: 0 !important;
}
.main-menu-mobile__btn {
//   // position: fixed;
//   // top: 20px;
//   // left: 20px;
//   // width: 26px;
//   // height: 26px;
  cursor: pointer;
  z-index: 1;
}
// .menu__btn > span {
// // .menu__btn > span::before,
// // .menu__btn > span::after {
//   // display: block;
//   // position: absolute;
//   // width: 100%;
//   // height: 2px;
//   // background-color: #616161;
//   // transition-duration: .25s;
// }
// .menu__btn > span::before {
//   content: '';
//   top: -8px;
// }
// .menu__btn > span::after {
//   content: '';
//   top: 8px;
// }
.main-menu-mobile__box {
}
.main-menu-mobile__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.main-menu-mobile__item:hover {
  background-color: #CFD8DC;
}
