div.sitetitle {
	margin: auto 0 auto 0;
}

nav.navbar {
	// margin-left: 3em;
	margin: auto 0 auto auto;
	border-left: 2px solid $color-3;
	padding-left: 1em;

	@include mq(med) {
		margin: auto 0 auto 3em;
	}

	div.hamburger-container {
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;

		@include mq(small) {
			display: none;
		}

	}

	ul {

		&.main-menu {
			font-family: $headfont;
			font-size: 1.7em;

			display: block;
			position: fixed;
			top: 0;
			right: -100%;
			min-width: 15em;
			max-width: 100%;
			height: 100%;
			margin: 0;
			padding: 80px 0;
			list-style: none;
			background-color: $color-bg;
			box-shadow: -2px 2px 6px $color-3;
			transition-duration: .25s;
			// transform: translate(-0%);

			// display: none;

			// @include mq(small) {
			// 	display: inline;
			// }
			// margin: auto 0 auto 0;
			// display: inline;
			// margin-top: auto;

			@include mq(small) {
				display: revert;
				position: relative;
				top: auto;
				right: auto;
				left: auto;
				width: auto;
				height: auto;
				margin: auto 0 auto 0;
				padding: 0;
				list-style: auto;
				background-color: $color-bg;
				box-shadow: none;
				// transition-duration: .25s;
			}

			@include mq(med) {
				margin: revert;
				// border-left: 2px solid $color-3;
				// display: block;
			}
			a {
				text-decoration: none;


			}
			&:before {
				display: none;
			}

			li {
				display: block;
				padding: 12px 24px;
				text-decoration: none;
				transition-duration: .25s;
				font-family: $headfont;
				// font-size: 20px;
				// font-weight: 600;
				// color: #333;
				// font-family: 'Roboto', sans-serif;

				// display: none;

				@include mq(small) {
					list-style-type: none;
					padding: 0;
					margin-left: 0.5em;
					display: inline;
				}

				@include mq(med) {
					display: block;
				}
				&:before {
					content: "";
				}
			}
		}
	}
}

nav.navbar {
	.hamburger-container {
		max-height: 40px;
		.hamburger {
			z-index: 2;
			&:hover {
				div {
					background-color: $color-2;
				}
			}
			div {
				width: 4em;
				height: 7px;
				border-radius: 3px;
				background-color: $color-4;
				cursor: pointer;
				margin-top: 8px;
				transition: all 0.3s ease-in-out;
			}

			.top-bun {
				margin-top: 0;
			}
		}
	}
	.main-menu-mobile {
		&__toggle {
			display: none;

			&:checked {
				+ .hamburger-container .hamburger {
					.top-bun {
						transform: rotate(-45deg);
						margin-top: 17px;
					}
					.bottom-bun {
						opacity: 0;
						transform: rotate(45deg);
					}
					.meat {
						transform: rotate(45deg);
						margin-top: -6px;
					}
				}
				~ .main-menu {
					right: 0 !important;
					&-mobile__overlay {
						display: none;
					}
				}
			}
		}

		&__overlay {
			background-color: #444444;
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			right: 0;
			bottom: 0;
			z-index: 0;
			display: none;
		}
	}
}
