<div id="div-head">
    <nav>
        <a href="{{ .Site.Home.Permalink }}">{{ .Site.Home.Title }}</a>
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.navigation.ByWeight }}
            <li>
                <a class='{{if or ($currentPage.IsMenuCurrent "navigation" .) ($currentPage.HasMenuCurrent "navigation" .) }}menu-active{{ end }}'
                    href="{{ absURL .URL }}">
                    {{ if .Page.IsSection }}
                    {{ .Title | pluralize }}
                    {{ else }}
                    {{ .Title }}
                    {{ end }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
	<!-- <div id="div-head-logo"> -->
	<!-- 	<p id="p-logo">thedanniel.com</p> -->
	<!-- </div> -->
	<!-- <div id="div-head-menu"> -->
	<!-- </div> -->
	<!-- <div id="div-head-search"> -->
	<!-- </div> -->
</div>
