<section class="gallery narrow">
  {{- $images := .Page.Resources.ByType "image" -}}
  {{ $headername := printf "%s%s" ( lower .Title ) ".png" }}
  {{ range where $images "Name" "not in" $headername }}

  {{ $thumb := (.Fill "200x200 webp") }}


  <div class="responsive">
    <div class="gallery-image">

      <a href="{{ .Permalink | absURL }}">
        <img src="{{ $thumb.Permalink | absURL }}"

            alt="Image of {{ $.Params.Title }} | Copywriting by Danniel Roumian Booker" class="single">
      </a>

      <!-- Standard display sizes: 1920, 1600, 1366 (common), 1024, 768, 640 -->
      <!-- As this box will never be more than 1000px (100 rem x 10px), the largest needed is 1000 -->

    </div>
  </div>
  {{ end }}
</section>
