<section class="gallery narrow">
  <!-- <div class="container"> -->
  {{- $images := .Page.Resources.ByType "image" -}}
  {{ $headername := printf "%s.png" ( lower .Title ) }}
  {{ $socialname := printf "%s-social.png" ( lower .Title ) }}
  {{ $nongallery := slice $headername $socialname }}

  <div class="top">

    <!-- <ul> -->

      {{ range where $images "Name" "not in" $nongallery }}

      {{ $thumb := (.Fill "200x200 webp") }}
	{{ $tiny := (.Fit "432x815 webp") }}
	{{ $medium := (.Fit "630x335 webp") }}
	{{ $large := (.Fit "918x490 webp") }}
	{{ $xlarge := (.Fit "1728x920 webp") }}
	<div class="single">
      <div class="responsive">
        <!-- <li class="responsive"> -->
          <!-- <a href="{{ .Permalink | absURL }}"> -->
            <a href="#{{$thumb}}">
              <img src="{{ $thumb.Permalink | absURL }}"

                   alt="Image of {{ $.Params.Title }} | Copywriting by Danniel Roumian Booker" class="single">
            </a>
        <!-- </li> -->

        <!-- Standard display sizes: 1920, 1600, 1366 (common), 1024, 768, 640 -->
        <!-- As this box will never be more than 1000px (100 rem x 10px), the largest needed is 1000 -->

      </div>

    <a href="#_1" class="lightbox trans" id="{{$thumb}}">

	<img src="{{ $tiny.Permalink | absURL }}"

		srcset="{{ $tiny.Permalink | absURL }} 480w,
			{{ $medium.Permalink | absURL }} 700w,
			{{ $large.Permalink | absURL }} 1020w,
			{{ $xlarge.Permalink | absURL }} 1020w"

		sizes="(min-width: 1020px) 1728px,
			(min-width: 700px) 918px,
			(min-width: 480px) 630px,
			432px"

		alt="Image about {{ $.Params.Title }} | Copywriting by Danniel Roumian Booker">
    </a>
	</div>

    {{ end }}

  </div>
  <!-- </div> -->
</section>
