	<div class="sitetitle">
	    <p class="sitetitle"><a href="{{ .Site.Home.Permalink }}">{{ .Site.Home.Title }}</a></p>
	    <p class="sitesubtitle">copywriting. branding. strategy.</p>
	</div>

    <nav class="navbar">
        <!-- <span> -->
            <input id="main-menu-mobile__toggle" class="main-menu-mobile__toggle" type="checkbox" />
            <div class="hamburger-container">
                <label class="hamburger" for="main-menu-mobile__toggle">
                    <div class="top-bun"></div>
                    <div class="meat"></div>
                    <div class="bottom-bun"></div>
                </label>
            </div>
            <!-- </span> -->
        <label class="main-menu-mobile__overlay" for="main-menu-mobile__toggle"></label>

        <ul class="main-menu">
            {{ $currentPage := . }}
            {{/* {{ range .Site.Menus.navigation.ByWeight }} */}}
            {{ range .Site.Menus.main }}
            <li>
                <!-- <a class="{{if or ($currentPage.IsMenuCurrent "navigation" .) ($currentPage.HasMenuCurrent "navigation" .) }}menu-active{{ end }}" href="{{ absURL .URL }}"> -->
                    <a class="{{if or ($currentPage.IsMenuCurrent "navigation" .) ($currentPage.HasMenuCurrent "navigation" .) }}menu-active{{ end }}" href="{{ absURL .URL }}">
                        {{ .Title | lower }}
                    </a>
            </li>
            {{ end }}
        </ul>

    </nav>
