	<div class="sitetitle">
	    <p class="sitetitle"><a href="{{ .Site.Home.Permalink }}">{{ .Site.Home.Title }}</a></p>
	    <p class="sitesubtitle">copywriting. positioning. strategy.</p>
	</div>

    <nav class="navbar">
        <ul class="main-menu">

            <div class="hamburger-container">
                <svg class="hamburger" viewBox="0 0 100 80" width="40" height="30">
                    <rect width="100" height="20" rx="10"></rect>
                    <rect y="30" width="100" height="20" rx="10"></rect>
                    <rect y="60" width="100" height="20" rx="10"></rect>
                </svg>
            </div>

            {{ $currentPage := . }}
            {{/* {{ range .Site.Menus.navigation.ByWeight }} */}}
            {{ range .Site.Menus.main }}
            <li>
                <a class="{{if or ($currentPage.IsMenuCurrent "navigation" .) ($currentPage.HasMenuCurrent "navigation" .) }}menu-active{{ end }}" href="{{ absURL .URL }}">
                    {{ .Title | lower }}
                </a>
            </li>
            {{ end }}
        </ul>

    </nav>
